
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');
nav {
    background-image: url(banner-image.png);
    width: 100%;
    height: 659px;
    background-repeat: no-repeat;
    z-index: 10;    

}
.topnav {
    color: #fff;
    background-color: #000;
    width:100%;
    position: fixed;
    z-index: 10;    
}
img.top-images {
    padding: 6px 0px 0px 22px;
    width: 85px;
}
p.text-banner-01 {
    text-align: center;
    font-size: 38px;
    color: #4df510;
    font-weight: bold;
    margin: 172px 57px 0px 0px;
    font-family: 'Playfair Display SC', serif;

}
h2.text-banner-02 {
    color: #ffff;
    margin: 40px 44px 0px 0px;
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 55px;
}
.h2, h2 {
    font-size: 30px;
}


ul.top-list {
    list-style: none;
    display: flex;
    font-weight: bold;
    margin-top: 5px;
}
li.top-type {
    margin: 18px 25px;
}


.row.food-dishes {
    margin: -53px 170px 21px 170px;
}
     /* topnav-end */




     section.banner-01 {
        background-image: url(./about-us-bg.png);
        background-repeat: no-repeat;
        margin: -80px 66px 0px 71px;
        height: max-content;
        z-index: 8;
        position: absolute;
    }
    img.rice-img {
        padding: 39px 6px;
    }
    p.about-text {
        font-size: 28px;
        padding: 100px 0px 0px 7px;
    }

    section.banner-02 {
        background-color: #702D24;
        height: 400px;
        width: 100%;
        margin-top: 19%;
    }
    .line {
        margin-top: 174px;
    }
    .col-sm-2.line-text {
        margin-top: 174px;
    }
    p.dishes-text-02 {
        margin-top: 8px;
        color: #81d80e;
        text-align: center;
        font-size: 15px;
    }





td.tab-col-0 {
    width: 205px;
    height: 210px;
}
h3.text-top {
    font-size:16px;
    margin-left: 10px;
    width: 126px;
}
p.top-td {
    margin-left: 11px;
    font-size: 20px;
    color: #1dc11d;
} 
     /* why choose us wala part */
     section.choice.bg-dark {
        width: 100%;
        height: 636px;
        background-color: #1b1a1af0;
        margin-top: 92%;
    }
    img.choose-img {
        margin-top: 173px;
        width: 100%;
        height: 380px;
    }
    .mySlides {
        background-repeat: no-repeat;
        background-size: cover;
        height: 458px;
    }

  /* slider   */
.col-sm-6.choice-left {
    margin-top: 33px;
}
h3.choice-text-01 {
    color: #fff;
    padding: 117px 0px 0px 49px;
}
    p.choose.test-02 {
        color: #3bc709f2;
        font-size: 22px;
    }
    p.choose.text-03 {
        color: #fff;
        font-size: 17px;
        font-weight: normal;
        line-height: 1.5;
        margin: 41px 0px -30px 0px;
    }
    ul.choose-list {
        margin: 76px 0px 2px -43px;
        list-style-position: inside;
        list-style-type: none;
    }
    img.list-img {
        padding: 1px 9px 0px 0px;
    }
    li.list-02 {
        color: #fff;
        font-size: 17px;
    }
    section.testimonial {
        background-image: url(./our-team-bg.png);
        background-repeat: no-repeat;
    }    
    h2.top-t {
        color: #fff;
        text-align: center;
    }
    .col-center {
        margin: 0 auto;
        float: none !important;
    }
    .carousel {
        margin: 50px auto;
        padding: 0 70px;
    }
    .carousel .item {
        color: #999;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        min-height: 290px;
    }
    .carousel .item .img-box {
        width: 135px;
        height: 135px;
        margin: 0 auto;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 50%;
    }
    .carousel .img-box img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
    }
    .carousel .testimonial {
        padding: 30px 0 10px;
    }
    .carousel .overview {	
        font-style: italic;
    }
    .carousel .overview b {
        text-transform: uppercase;
        color: #7AA641;
    }
    .carousel .carousel-control {
        width: 40px;
        height: 40px;
        margin-top: -20px;
        top: 50%;
        background: none;
    }
    .carousel-control i {
        font-size: 68px;
        line-height: 42px;
        position: absolute;
        display: inline-block;
        color: rgba(0, 0, 0, 0.8);
        text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
    }
    .carousel .carousel-indicators {
        bottom: -40px;
    }
    .carousel-indicators li, .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        margin: 1px 3px;
        border-radius: 50%;
    }
    .carousel-indicators li {	
        background: #999;
        border-color: transparent;
        box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
    }
    .carousel-indicators li.active {	
        background: #555;		
        box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
    }
    /* slider-end */
    p.img-pf-line {
        color: #fff;
        text-align: center;
        font-size: 24px;
    }
    img.img-03 {
        margin: 64px 42px;
    }
    
    section.third-part {
        background-color: #772323;
        width: 100%;
        height: 443px;
        margin-top: 17%;
        padding: 18px 0px 0px 17px;
        position: absolute;    
        }
h1.img-pf-line12 {
    padding-top: 10%;
    color: #fff;
}
h3.text2 {
   text-align: center;
    color: #079407;
    font-size: 33px;
    margin: -45px 69px 0px 0px;
    font-family: cursive;
}
img.img-pf-line12 {
    margin: 0px 0px 0px 33px;
}
section.table {
    margin-top: -28%;
    padding-right: 53px;
    position: absolute;
}
/*map css*/
p.con-head {
    font-size: 22px;
    color: #333;
    font-weight: bold;
    padding: 0px 0px 0px 17px;
    /* margin: 0px 0px 0px 0px; */
}

.col-sm-6.det-01 {
    background-color: #fff;
    height: 370px;
}
.col-md-3.det-02 {
    background-color: #2adc37;
    height: 370px;
}
form {
    margin: 34px 0px;
}

input {
    border: none;
    border-bottom: 2px solid red;
    margin:  20px 10px ;
  }
  .col-sm-3.first {
    width: 44%;
    margin: 6px 20px;
}
label.text-are {
    margin: 6px 0px 0px 20px;
}

.col-sm-3.second {
    width: 44%;
    margin: 6px 0px;
}
section.mb-4 {
    margin: 157px -145px 0px 208px;
    position: relative;
    z-index: 5;
}

p.locat-01 {
    margin: 25px 20px;
    font-size: 20px;
    color: #fff;
}

.fa {
    padding: 12px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2px 10px;
}

.fa-facebook {
  background: #6d6767;
  color: #fff;
}
.fa-linkedin {
  background: #6d6767;
  color: #fff;
}
.fa-twitter {
  background: #6d6767;
  color: #fff;
  overflow: hidden;

}

.fa-instagram {
  background: #6d6767;
  color: white;
}
ul.icon {
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    
}
.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
table.table-one.bg-white {
    margin-top: 47%;
    margin-left: 21%;
    margin-right: 31%;
    background-color: #f5f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
}
.topnavbar {
    position: absolute;
    margin-top: -125px;
}




/*end map css*/


/* footer part */
footer {
    background-image: url(./footer-bg.png);
    color: #fff;
    width: 100%;
    height: 314px;
     margin-top: -100px;
    position: absolute;
}

.col-sm-4.footer-01 {
    margin: 41px 0px 0px 0px;
}
p.footer-top-text {
    font-size: 18px;
    font-weight: 800;
    padding: 0px 0px 3px 21px;
}       
h4.footer-top-text-02 {
    margin: 0px 0px 0px 17px;
    padding-top: 25px;
    line-height: 1.6;
    font-size: 18.3px;
}
p.footer-top-text12 {
    margin-left: 37px;
    line-height: 1.6;
    font-size: 18.3px;
    font-weight: 800;
}
  /* footer bootm part */
  section.bottom {
    margin-top: 17%;
}
p.bootom-text {
    text-align: center;
    font-size: 18px;
}
img.bottom-img {
    width: 4%;
    margin: 6px 2px;
}
ul.footer-center-ul {
    font-size: 17px;
    padding-top: 19px;
}
ul.footer-right-list {
    font-size: 17px;
    padding-top: 19px;
}
li.about-center-text {
    margin: 2px 1px;
}
li.footer-left-right {
   
    margin: 2px 0px;
    list-style-type: none;
}
